*, body {
   background-color: #1E1E1E;
   font-family: sans-serif;
}

header {
   margin-top: 5%;
}

h1 {
    font-size: 4rem;
    color: #FFFFFF;
    text-align: center;
}

#playarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    height: 50%;
}

#startup {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

#startbutton {
    background-color: #d9d9d9f5;
    width: 23rem;
    height: 7rem;
    color: #515151;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    border-style: none;
    align-self: center;
}

#startbutton:hover {
   background-color: #ffffff;
   color: #616161;
}

#startbutton:active {
   background-color: #515151;
   color: #FFFFFF;
}